.temp {
font-family: 'Orbitron', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Poiret One', cursive;
}


.header-display {
  background-color: black;
  border-style: solid;
  border-color: black;
  max-height: 75px;
  height: auto;
  right: 0;
  left: 0;
  top:0;
  padding:3px;
  position: fixed;

}
header {
  font-size:35px;
  text-align: right;
  font-family: 'Poiret One', cursive;
  color:white;
}
.header-image {
  border-style: solid;
  border-color: black;
  max-height: 65px;
  height: auto;
  right: 0;
  left: 0;
  top:0;
  float: left;
}


body {

  padding-bottom: 50px;
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: white;
  border-color: black:

}
footer {
  background-color: black;
  color: white;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 1rem;
  border-style: solid;
  margin: auto;
  font-style: 'Poiret One', cursive;
  border-color: black;
}
.main-image {
  background-color: yellow;
  right:0;
  left:0;
  border-style: solid;
  border-color: black;
  max-height: none;
  height: auto;
  max-width: none;
  width: auto;


}
